<a href="https://colab.research.google.com/github/Akshadabangar/Task4-OOP-Python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df=pd.DataFrame({'X':[70,67,89,90,86],'Y':[86,74,89,78,86],'Z':[96,97,87,72,80]})
print(df)

    X   Y   Z
0  70  86  96
1  67  74  97
2  89  89  87
3  90  78  72
4  86  86  80

In [3]:
import pandas as pd
import numpy as np
import sys
sys._stdout_=sys.stdout
fruits=np.array(['Grapes','Mango','Apple','Pear'])
series1=pd.Series(fruits)
print(series1)

0    Grapes
1     Mango
2     Apple
3      Pear
dtype: object

In [4]:
import pandas as pd
items=[['Phone',18000],['TV',20000],['Radio',2000]]
df=pd.DataFrame(items,columns=['item','Price'],dtype=float)
print(df)

    item    Price
0  Phone  18000.0
1     TV  20000.0
2  Radio   2000.0

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
#Create a simple Pandas DataFrame:
import pandas as pd
data = {"calories": [420, 380, 390],
        "duration": [50, 40, 45] }

df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [8]:
#Creating Labels
import pandas as pd
a = [10,20,30]
myvar3 = pd.Series(a, index = ["a","b","c"])
print(myvar3)
print(myvar3["b"])
print(myvar3["a"])

a    10
b    20
c    30
dtype: int64
20
10

In [9]:
#Program to create a DataFrame by passing a NumPy array, with a datetime index and labeled columns.

import pandas as pd
dates = pd.date_range("20130101", periods=6)
dates

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01 -0.938650 -0.143029 -0.157876  0.315314
2013-01-02  0.804230  0.370822  0.117214  0.222326
2013-01-03 -0.797489 -0.873841  0.705354 -0.102199
2013-01-04 -0.372757  1.207041 -0.049793 -1.699969
2013-01-05  0.168010  0.816212  1.215221 -2.251259
2013-01-06  0.518009 -0.458009  1.185203 -1.510695

In [13]:
#Program to set a  column automatically aligns the data by the index.
import pandas as pd
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20201013", periods=6))

s1

2020-10-13    1
2020-10-14    2
2020-10-15    3
2020-10-16    4
2020-10-17    5
2020-10-18    6
Freq: D, dtype: int64

In [12]:
#Program to set a  column automatically aligns the data by the index.
import pandas as pd
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20210212", periods=6))

s1

2021-02-12    1
2021-02-13    2
2021-02-14    3
2021-02-15    4
2021-02-16    5
2021-02-17    6
Freq: D, dtype: int64